pipeline/Dustin_MetadataDrivenCopyTask_0vy_MiddleLevel.json
{
	"name": "Dustin_MetadataDrivenCopyTask_0vy_MiddleLevel",
	"properties": {
		"description": "This pipeline will copy one batch of objects. The objects belonging to this batch will be copied parallelly.",
		"activities": [
			{
				"name": "DivideOneBatchIntoMultipleGroups",
				"description": "Divide objects from single batch into multiple sub parallel groups to avoid reaching the output limit of lookup activity.",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(0, add(div(pipeline().parameters.SumOfObjectsToCopyForCurrentBatch, pipeline().parameters.MaxNumberOfObjectsReturnedFromLookupActivity),\n                    if(equals(mod(pipeline().parameters.SumOfObjectsToCopyForCurrentBatch, pipeline().parameters.MaxNumberOfObjectsReturnedFromLookupActivity), 0), 0, 1)))",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 50,
					"activities": [
						{
							"name": "GetObjectsPerGroupToCopy",
							"description": "Get objects (tables etc.) from control table required to be copied in this group. The order of objects to be copied following the TaskId in control table (ORDER BY [TaskId] DESC).",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzurePostgreSqlSource",
									"query": "WITH OrderedControlTable AS (\n                             SELECT *, ROW_NUMBER() OVER (ORDER BY TaskId, Id DESC) AS RowNumber\n                             FROM demo.public.control_table3\n                             )\n                             SELECT * FROM OrderedControlTable WHERE RowNumber BETWEEN @{add(mul(int(item()),pipeline().parameters.MaxNumberOfObjectsReturnedFromLookupActivity),\n                             add(mul(pipeline().parameters.SumOfObjectsToCopyForCurrentBatch, pipeline().parameters.CurrentSequentialNumberOfBatch), 1))}\n                             AND @{min(add(mul(int(item()), pipeline().parameters.MaxNumberOfObjectsReturnedFromLookupActivity), add(mul(pipeline().parameters.SumOfObjectsToCopyForCurrentBatch, pipeline().parameters.CurrentSequentialNumberOfBatch),\n                             pipeline().parameters.MaxNumberOfObjectsReturnedFromLookupActivity)),\n                            mul(pipeline().parameters.SumOfObjectsToCopyForCurrentBatch, add(pipeline().parameters.CurrentSequentialNumberOfBatch,1)), pipeline().parameters.SumOfObjectsToCopy)}",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "PostgresControlTable",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "CopyObjectsInOneGroup",
							"description": "Execute another pipeline to copy objects from one group. The objects belonging to this group will be copied parallelly.",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "GetObjectsPerGroupToCopy",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Dustin_MetadataDrivenCopyTask_0vy_BottomLevel",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"ObjectsPerGroupToCopy": {
										"value": "@activity('GetObjectsPerGroupToCopy').output.value",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"MaxNumberOfObjectsReturnedFromLookupActivity": {
				"type": "Int",
				"defaultValue": 5
			},
			"TopLevelPipelineName": {
				"type": "String",
				"defaultValue": "NA"
			},
			"TriggerName": {
				"type": "String",
				"defaultValue": "NA"
			},
			"CurrentSequentialNumberOfBatch": {
				"type": "Int",
				"defaultValue": 0
			},
			"SumOfObjectsToCopy": {
				"type": "Int",
				"defaultValue": 5
			},
			"SumOfObjectsToCopyForCurrentBatch": {
				"type": "Int",
				"defaultValue": 5
			},
			"MainControlTableName": {
				"type": "String",
				"defaultValue": "demo.public.control_table"
			}
		},
		"folder": {
			"name": "Dustin_MetadataDrivenCopyTask_0vy_20230908"
		},
		"annotations": []
	}
}