pipeline/dustin_pg_pipeline.json
{
	"name": "dustin_pg_pipeline",
	"properties": {
		"activities": [
			{
				"name": "nyctaxi_CSV_to_PG",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzurePostgreSQLSink",
						"writeBatchSize": 1000000,
						"writeBatchTimeout": "00:30:00",
						"writeMethod": "CopyCommand"
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "dropoff_longitude",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "dropoff_longitude",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "dropoff_latitude",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "dropoff_latitude",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "pickup_longitude",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "pickup_longitude",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "pickup_latitude",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "pickup_latitude",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "RatecodeID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ratecodeid",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "VendorID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "vendorid",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "extra",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "extra",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "fare_amount",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "fare_amount",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "improvement_surcharge",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "improvement_surcharge",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "mta_tax",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "mta_tax",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "passenger_count",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "passenger_count",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "payment_type",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "payment_type",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "store_and_fwd_flag",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "store_and_fwd_flag",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "tip_amount",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "tip_amount",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "tolls_amount",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "tolls_amount",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "total_amount",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "total_amount",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "tpep_dropoff_datetime",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "tpep_dropoff_datetime",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "tpep_pickup_datetime",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "tpep_pickup_datetime",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "trip_distance",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "trip_distance",
									"type": "String",
									"physicalType": "character varying"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "nyc_taxi_csv",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "PostgresNycTaxiTrips",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "nyctaxi_PG_to_Delta",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.04:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureDatabricksDeltaLakeSink",
						"importSettings": {
							"type": "AzureDatabricksDeltaLakeImportCommand"
						}
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2
				},
				"inputs": [
					{
						"referenceName": "PostgresNycTaxiTrips",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DustinDelta",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "dustin_pg_dataflow",
				"type": "ExecuteDataFlow",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "nyctaxi_CSV_to_PG",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dustin_pg_dataflow",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 32,
						"computeType": "General"
					},
					"traceLevel": "Fine",
					"continuationSettings": {
						"customizedCheckpointKey": "3c937efb-6362-4c55-abcd-43e0be71afc3"
					}
				}
			},
			{
				"name": "GetMaxWatermarkValue",
				"description": "Query the source object to get the max value from watermark column",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "select max(\"@{json(item().DataLoadingBehaviorSettings).watermarkColumnName}\") as CurrentMaxWaterMarkColumnValue from \"@{json(item().SourceObjectSettings).schema}\".\"@{json(item().SourceObjectSettings).table}\"",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "Dustin_MetadataDrivenCopyTask_0vy_SourceDS",
						"type": "DatasetReference",
						"parameters": {
							"cw_schema": {
								"value": "@json(item().SourceObjectSettings).schema",
								"type": "Expression"
							},
							"cw_table": {
								"value": "@json(item().SourceObjectSettings).table",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "DeltaLoadOneObject",
				"description": "Copy the changed data only from last time via comparing the value in watermark column to identify changes.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetMaxWatermarkValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "@{json(item().SourceObjectSettings).schema}.@{json(item().SourceObjectSettings).table}"
					},
					{
						"name": "Destination",
						"value": "@{json(item().SinkObjectSettings).fileSystem}/@{json(item().SinkObjectSettings).folderPath}/@{json(item().SinkObjectSettings).fileName}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "select * from \"@{json(item().SourceObjectSettings).schema}\".\"@{json(item().SourceObjectSettings).table}\" \n    where \"@{json(item().DataLoadingBehaviorSettings).watermarkColumnName}\" > @{if(contains(json(item().DataLoadingBehaviorSettings).watermarkColumnType, 'Int'),\n    json(item().DataLoadingBehaviorSettings).watermarkColumnStartValue, \n    concat('''', json(item().DataLoadingBehaviorSettings).watermarkColumnStartValue, ''''))}\n    and \"@{json(item().DataLoadingBehaviorSettings).watermarkColumnName}\" <= @{if(contains(json(item().DataLoadingBehaviorSettings).watermarkColumnType, 'Int'),\n    activity('GetMaxWatermarkValue').output.firstRow.CurrentMaxWaterMarkColumnValue, \n    concat('''', activity('GetMaxWatermarkValue').output.firstRow.CurrentMaxWaterMarkColumnValue, ''''))}",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"validateDataConsistency": false,
					"translator": {
						"value": "@json(item().CopyActivitySettings).translator",
						"type": "Expression"
					}
				},
				"inputs": [
					{
						"referenceName": "Dustin_MetadataDrivenCopyTask_0vy_SourceDS",
						"type": "DatasetReference",
						"parameters": {
							"cw_schema": {
								"value": "@json(item().SourceObjectSettings).schema",
								"type": "Expression"
							},
							"cw_table": {
								"value": "@json(item().SourceObjectSettings).table",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Dustin_MetadataDrivenCopyTask_0vy_DestinationDS",
						"type": "DatasetReference",
						"parameters": {
							"cw_compressionCodec": {
								"value": "@json(item().SinkObjectSettings).compressionCodec",
								"type": "Expression"
							},
							"cw_fileName": {
								"value": "@{json(item().SinkObjectSettings).fileName}-@{json(item().DataLoadingBehaviorSettings).watermarkColumnStartValue}-@{activity('GetMaxWatermarkValue').output.firstRow.CurrentMaxWaterMarkColumnValue}",
								"type": "Expression"
							},
							"cw_folderPath": {
								"value": "@json(item().SinkObjectSettings).folderPath",
								"type": "Expression"
							},
							"cw_fileSystem": {
								"value": "@json(item().SinkObjectSettings).fileSystem",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "UpdateWatermarkColumnValue",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "DeltaLoadOneObject",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdateWatermarkColumnValue_0vy]",
					"storedProcedureParameters": {
						"Id": {
							"value": {
								"value": "@item().Id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"watermarkColumnStartValue": {
							"value": {
								"value": "@activity('GetMaxWatermarkValue').output.firstRow.CurrentMaxWaterMarkColumnValue",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQLMaintenanceDemo",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}