pipeline/dustin_pg_pipeline_copy1.json
{
	"name": "dustin_pg_pipeline_copy1",
	"properties": {
		"activities": [
			{
				"name": "GetMaxWatermarkValue",
				"description": "Query the source object to get the max value from watermark column",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set watermark_end",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "select max(modified_timestamp) as CurrentMaxWaterMarkColumnValue from public.watermarks\nwhere table_name = 'trip'",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "PostgresControlTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "DeltaLoadOneObject2",
				"description": "Copy the changed data only from last time via comparing the value in watermark column to identify changes.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetMaxWatermarkValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "trip"
					},
					{
						"name": "Destination",
						"value": "ext_loc_1/pg/trip"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "select * from public.trip \n    where modified_timestamp > \n    @{activity('GetMaxWatermarkValue').output.firstRow.CurrentMaxWaterMarkColumnValue}\n    and \n        modified_timestamp <= @{variables('watermark_end')}",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "dropoff_longitude",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "dropoff_longitude",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "dropoff_latitude",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "dropoff_latitude",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "pickup_longitude",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "pickup_longitude",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "pickup_latitude",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "pickup_latitude",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ratecodeid",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "ratecodeid",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "vendorid",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "vendorid",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "extra",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "extra",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "fare_amount",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "fare_amount",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "improvement_surcharge",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "improvement_surcharge",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "mta_tax",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "mta_tax",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "passenger_count",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "passenger_count",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "payment_type",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "payment_type",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "store_and_fwd_flag",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "store_and_fwd_flag",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "tip_amount",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "tip_amount",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "tolls_amount",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "tolls_amount",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "total_amount",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "total_amount",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "tpep_dropoff_datetime",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "tpep_dropoff_datetime",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "tpep_pickup_datetime",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "tpep_pickup_datetime",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "trip_distance",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "trip_distance",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "modified_timestamp",
									"type": "DateTime",
									"physicalType": "timestamp"
								},
								"sink": {
									"name": "modified_timestamp",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "PostgresNycTaxiTrips",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Dustin_Trip_Parquet_DestinationDS",
						"type": "DatasetReference",
						"parameters": {
							"cw_compressionCodec": "snappy",
							"cw_fileName": "trip",
							"cw_folderPath": "external_loc_1/pg_cdf",
							"cw_fileSystem": "abfss://dustinvannoy@oneenvadls.dfs.core.windows.net"
						}
					}
				]
			},
			{
				"name": "Update Watermark",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "DeltaLoadOneObject2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "SELECT update_watermark('@{variables('watermark_end')}');",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "PostgresControlTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set watermark_end",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "watermark_end",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"watermark_end": {
				"type": "String"
			}
		},
		"annotations": []
	}
}